<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="primary">
                <p class="text-muted">We are building somthing awesome! Stay tuned!
                </p>
            </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn
                    btn-primary btn-xl page-scroll">Contact us</a>
      </div>
        </div>
    </div>
</section>
