<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="primary">
                <p class="text-muted">We are building the ultimate platform for multilingual and multimodal vector search. <br />
                    Learn more by watching our recent talk at Berlin Buzzwords.
                </p>
            </div>
            <div class="col-lg-12 text-center">
                  <!--<p><img src="img/screenshot.png" align="middle" width="800"></p>-->
                  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/9OS8cMf2rwY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
                  </p>
                </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn
                    btn-primary btn-xl page-scroll">Contact us</a>
      </div>
        </div>
    </div>
</section>
