<section id="demos">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Demos</h2>
                <hr class="primary">
                <p class="text-muted">Here's a recent demo using Muves</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
<!--             <div class="col-lg-4 col-lg-offset-2 text-center">
                <p><a href="http://demo.muves.io"><img src="img/muves_demo.png" align="middle" width="400"></a></p>
                <h4><a href="http://demo.muves.io">Multilingual Amazon Book Search</a></h4>
                    <p><b>Embedding type:</b> Text Embeddings <br />
                        <b>Data:</b> 1M books from the Amazon product dataset</p>
            </div> -->
            <div class="col-lg-8 col-lg-offset-2 text-center" >
                <p><a href="http://os-demo.gsitechnology.com:8080" ><img src="img/gsi_demo.png" align="middle" width="800"></a></p>
                <h4><a href="http://os-demo.gsitechnology.com:8080" >Multilingual Image and Text Embedding Search with GSI APU harware acceleration</a></h4>
                    <p><b>Embedding type:</b> Image and Text Embeddings <br />
                        <b>Data:</b> 10M images and captions from the LAION-400M dataset</p>
            </div>
    </div>
</div>
</section>
