<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <title>Muves - Turn Papers into Insights</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="header-container"> 
      <h1><a href="/">muves</a></h1> 
      <p class="tagline">Turn Papers into Insights</p> 
    </div>
    <div class="info">
        <p class="info-text">Your personal AI research assistant.
        Muves uses AI to analyze and summarize complex information, making research accessible to everyone.</p>
    </div>       
    <div>
        {% if message %}
        <div class="message {{ message_type }}">{{ message }}</div>
        {% else %}
        <p><a href="/contact/" class="signup-button">Join waiting list</a></p>
        {% endif %}
    </div>
    <footer>
      <p>&copy; 2025 Muves - <a href="/privacy">Privacy Policy</a></p>
    </footer>
  </body>
</html>