<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <title>Muves - Turn Data into Insights</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="header-container"> 
      <h1><a href="/">muves</a></h1> 
      <p class="tagline">Turn Data into Insights</p> 
    </div>
    <div class="info">
        <p class="info-text">Muves uses AI to analyze and summarize complex information.</p>
    </div>
    <footer>
      <p>&copy; 2025 Muves - <a href="/privacy">Privacy Policy</a></p>
    </footer>
  </body>
</html>