<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J1HTLEGL10"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-J1HTLEGL10');
</script>

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include about.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
